
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
  border: 2px solid #444;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 35px;
  margin-right: 35px;
}

input[type="text"], input[type="email"] {
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 40px;
  height: 30px;
  text-indent: 10px;
  border: 2px solid #444;
}

input[type="number"] {
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 40px;
  height: 30px;
  text-indent: 10px;
  border: 2px solid #444;
}

textarea {
  grid-column: 1 / -1;
  height: 10rem;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Karla", sans-serif;
  border: 2px solid #444;
  text-indent: 5px;
  margin-bottom: 55px;
}

button {
    font-family: "Karla", sans-serif;
    border:2px solid #444;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 48.5%;
}

.container {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
  border: 2px solid #444;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

.header{
  background: #444;
  grid-column: 1 / -1;
  text-indent: 10px;
  font-size: larger;
  color: azure;
  font-weight: 700;
  text-align: left;
}

.box{
  grid-column: 1 / -1;
  height: 10rem;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Karla", sans-serif;
  border: 2px solid #444;
  text-indent: 15px;
  margin-bottom: 55px;
  text-align: left;
  margin-top: 5px;
}

